.app {
	overflow: hidden;
	position: relative;
	background-size: 100% auto;
	min-height: 100vh;
}

@include media-breakpoint-up(sm) {
	
}
@include media-breakpoint-up(md) {
	
}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}